POSTGRES_DB=aiorta
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=54329
PORT=4000
PGADMIN_DEFAULT_EMAIL=admin@aiorta.dev
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

DATABASE_URL=postgresql://postgres:postgres@localhost:54329/aiorta?schema=public
JWT_SECRET=change-me
JWT_EXPIRES_IN=15m

DEV_SEED_EMAIL=dev@aiorta.dev
DEV_SEED_PASSWORD=DevPassword123!
